ENVIRONMENT=developpement
CORS_ORIGINS=["https://ton-site.ch","https://www.ton-site.ch"]
SMTP_HOST=mail.example.com
SMTP_PORT=587
SMTP_USERNAME=no-reply@example.com
SMTP_PASSWORD=your_password_here
MAIL_TO_CONTACT=contact@example.com